org_domain = "yourdomain.com"
resource_hierarchy = [
  {
    department  = "Department A"
    projects    = ["department-a-dev05","department-a-prod05"]
  },
  {
    department  = "Shared Projects",
    projects    = ["Monitoring"]
    teams =[{
      name = "Team X"
      projects    = ["team-x-dev01","team-x-prod01"]

    }]
  },
  {
    department  = "Department B",
    teams     = [
      {
        name = "Team Y"
      },
      {
        name = "Team Z"
        products = [{
          name = "Product 1"
          projects = ["product-1-dev01","product-1-test01","product-1-prod01"]
        },
          {
            name = "Product 2"
          }]
      }
    ]
  }
]